body{
    background-color: #202020;
}
.texto{
color: white;
font-family: Arial;
display: flex;
justify-content: center;
font-size: medium;
}
.video{
display: flex;
justify-content: center;
}
.texto2{
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
